apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: default
labels:
  app: nodejs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: nodejs
        image: 678336995702.dkr.ecr.us-east-1.amazonaws.com/jenkins-nodejs-example:${BUILD_NUMBER}
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: production
