replicaCount: 3

image:
  repository: 287043460305.dkr.ecr.us-east-1.amazonaws.com/nodejs-app
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

livenessProbe:
  httpGet:
    path: /health
    port: 3000
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /health
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

serviceAccount:
  create: true
  name: nodejs-app-sa
  annotations: {}

secrets:
  rds:
    enabled: true
    secretName: rds-secret
    remoteRef: aws-gitops-pipeline-dev-rds-credentials
  redis:
    enabled: true
    secretName: redis-secret
    remoteRef: aws-gitops-pipeline-dev-redis-credentials

externalSecrets:
  enabled: true
  secretStore:
    name: aws-secrets-manager
    region: us-east-1

ingress:
  enabled: true
  scheme: internet-facing
  targetType: ip
  certificateArn: ""
